.match-card {
    display: flex;
    align-items: center;
    background: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}

.result {
    width: 40px;
    height: 40px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

.green { background: #2ecc71; }
.red { background: #e74c3c; }
.orange { background: #f39c12; }

.next-box {
    background: #111;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}
